<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <title>Spring WebFlux Video Streaming</title>
</head>
<body>

<div class="container mt-5">
    <h2>Spring WebFlux Video Streaming Example</h2>
    <video controls height="480px" preload="none" src="/video/tom-jerry" width="720px">
    </video>
</div>

<div class="container mt-5">
    <h2>Spring WebFlux Video Streaming Example 2</h2>
    <video controls height="500px" preload="none" src="/video/sample_960x540" width="750px">
    </video>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
